VITE_SUPABASE_PROJECT_ID="pltumueyrflantxnqovl"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsdHVtdWV5cmZsYW50eG5xb3ZsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg0MDU1MzAsImV4cCI6MjA4Mzk4MTUzMH0.rAXSCKoAJxbkUaHepZxVeDRKI8eIwiqt36JmBHVmOsg"
VITE_SUPABASE_URL="https://pltumueyrflantxnqovl.supabase.co"

TEST_EMAIL="example@gmail.com"
TEST_PASSWORD="examplepassword"    